:root{
    --clr-bg-purple: hsl(257, 40%, 49%);
    --clr-primary-magenta:hsl(300, 69%, 71%);
    --fw-basic:400;
    --fw-bold:600;
    --ff-headings: "Poppins", sans-serif;
    --ff-body:"Open Sans", sans-serif;
    --clr-text-white:hwb(0 100% 0%);
     --shadow-color: hsl(308, 75%, 78%);
     --clr-bg-btn:hsl(0, 0%, 100%);
     --clr-dark-edge:hsl(0, 9%, 78%);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html,body{
  margin:0;
  padding:0;
  overflow-x: hidden;
}


/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-body);
  background-color: var(--clr-bg-purple);
  color:var(--clr-text-white);
  min-height: 100vh;
  /* overflow: hidden; */
}

.base-font-size{
   font-size: 0.825rem;
}

.huddle__page{
  
   padding: 2rem;
}


.background__image__div{
    background-image: url(./images/bg-mobile.svg);
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;

  
}



.huddle__nav{
    max-width:30%;
   
    
}

.hero{
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  */
}

.hero__description{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.hero__title{
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
  
}

.hero__image{
  margin: 2.5rem 0;
}

.btn{
  /* margin-bottom: 2.5rem; */
  /* background-color: var(--clr-text-white);
  color: var(--clr-bg-purple);
  border:none;
  border-radius: 10rem; */
  /* display: block; */
  /* padding: 0.3rem 3rem; */
  /* outline-offset: 4px; */
   /* filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    ); */
}

.btn{
  color: var(--clr-bg-purple);
  border-radius: 10rem;
  border: none;
  padding: 0;
  cursor: pointer;
   outline-offset: 4px;
   background-color: var(--clr-dark-edge);
   
}

.front-layer{
  display: block;
  background-color: var(--clr-bg-btn);
  border-radius: 10rem;
  padding: 0.3rem 3rem;
  font-size: 1rem;
  color: var(--clr-bg-purple);
  transform: translateY(-6px);

}

.btn:active .front-layer {
    transform: translateY(-2px);
  }

.icon-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:1rem;
  margin-top: 4rem;
 
}




button:hover{
  /* background-color:var(--clr-primary-magenta);
  color: white;
  cursor: pointer;
  transform:  translateY(-10px);
  transition: transform 250ms; */
}

/* p:hover {
  background-color: var(--clr-primary-magenta);
} */






.icon-section a{
  border: 1px solid white;
  border-radius:50%;
  width:40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.icon-section a:hover{
   background-color: var(--clr-bg-purple);
   border: 1px solid var(--clr-primary-magenta);
   color:var(--clr-primary-magenta);
  cursor: pointer;
 /* transition:.5s; */
  /* box-shadow: 10px 10px 5px magenta; */
  transform: scale(2);
  transition: transform  0.4s;
  filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    );
}

/* .icon-section a i{
  color: blueviolet;
} */

/* .icon-section a i{
  background-color: inherit;
} */

@media(min-width:768px){

  .huddle__nav{
    max-width: 15%;
  }

  .hero{
    /* flex-direction: row;
    align-items: center;
    gap: 1rem; */
     /* flex-direction: row;
     align-items: center;
      gap: 4rem; */
      display: grid;
      grid-template-columns: 1fr 1fr;
     align-items: center;
     gap: 2rem;
     
  }

  .hero__title{
    justify-self: start;
    font-size: 1.2rem;
  }

  .hero__para{
    font-size: 0.825rem;
  }

  .huddle__page{
    padding: 3rem;
  }

  .huddle__info{
    margin-top: 5rem;
  }

  .background__image__div{
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position-y:left ; */
  }

  .hero__description{
    align-items: start;
    text-align: start;
  }
 
    .icon-section{
     justify-content: flex-end;
     /* padding-top: 1.5rem; */
  }

 

}

@media(min-width:1100px){
   .huddle__nav{
    max-width: 15%;
  }

  .huddle__page{
    padding: 4rem;
  }

  .hero__title{
    font-size: 2.2rem;
  }

  .hero__para{
    font-size: 1rem;
  }

  /* .btn{
    padding: 0.8rem 3rem;
  } */

  .icon-section a {
    font-size:1.5rem;
    padding: 0.4rem;
  }

  

  .icon-section { 
  margin-right: 4rem;
  margin-top: 5rem;
  
}

.hero{
  gap:3rem;
  
}


}

